doctype html
html
  head
    title= title
    link(rel="stylesheet", href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css")
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .toptitle
      h1.
        Mashape Todos!
    block content-top
    .clearfix
      .fleft
        block content-left
      .fleft
        block content-right