// Mixins
border-radius()
  -webkit-border-radius arguments
  -moz-border-radius arguments
  border-radius arguments

// Elements
body
  padding 50px
  padding-left 250px
  font 14px "Lucida Grande", Helvetica, Arial, sans-serif
a
  color #00B7FF
  font-size 20px

// Classes
.gray
  color #999

.clearfix:before, .clearfix:after
  content ""
  display table
.clearfix:after
  clear both
.clearfix
  zoom 1

.fleft
  display inline
  float left

.todo_controls
  display inline
  float left
  width 20px
  padding-right 5px
  font-size 18px
  cursor pointer

.todo_body
  display inline
  float left
  width 230px

.todo_checkbox
  display inline
  float left
  width 70px
  margin-left 10px

// List Styling
ul
  padding 0
  list-style-type none

li.todo
  //border-radius(5px)
  background-color #A6E069
  padding 8px
  margin-bottom 10px
  width 350px
  margin-right 20px
  // display inline
  // float left
  h3
    font-weight bold
    margin-top 0
    margin-bottom 5px
  p
    line-height 20px
    font-size 15px
    margin-top 0

li.completed
  background-color #ddd

